{% block menu %}  
{% endblock %}  
    <!-- FORMULARIO PARA AGREGAR PROPIETARIOS -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="glyphicon glyphicon-wrench pull-right"></i>
            <h4>
              Agregar Propietario
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <form action="{{estacionamiento.id}}/propietario-crear" method="post" class="form form-vertical">
            {% csrf_token %}
            {% for field in form %}
              <div class="control-group">
                <div class="controls">
                  {{ field }}
                  <span class='error' id='{{field.name}}_error' aria-live="polite">
                    {{ field.errors }}
                  </span>
                  <p>
                </div>
              </div>
            {% endfor %}
            <div class="control-group" align="center">
                <button type="submit" class="btn btn-primary">
                    Agregar
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% block scripts %}
{% include "validator.js.html" %}
{% endblock %}