{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <script src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
  <script src="{% static 'jqueryui/jquery-ui.js'%}"></script>
  <script src="{% static 'multidatepicker/jquery-ui.multidatespicker.js'%}"></script>
  <link rel="stylesheet" href="multidatepicker/css/prettify.css">
  <script>
  $(function() {
    $('#simpliest-usage').multiDatesPicker();
  });
  </script>
</head>
<body>
 
<p>Date: <input type="text" id="simpliest-usage"></p>
 
 
</body>
</html>