{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}SAGE{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <link href="{% static 'font-awesome/css/font-awesome.css'%}" rel="stylesheet">    
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'SAGE/base.css'%}" rel="stylesheet">
	<link href="{% static 'jqueryui/jquery-ui-1.10.3.custom.css'%}" rel="stylesheet">
	<script type="text/javascript" src="{% static 'jquery-2.1.1.min.js'%}" ></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}" ></script>
	<script type="text/javascript" src="{% static 'jqueryui/jquery-ui.js'%}" ></script>
	<script type="text/javascript" src="{% static 'multidatepicker/jquery-ui.multidatespicker.js'%}" ></script>
  </head>
  {% block body %}<body>{% endblock %}
    {% block header %}
      <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand" href="#">
              SAGE
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block outerContents %}
    <div class="container">
      <div class="row">
        {% block menu %}
        {% include "menu.html" %}
        {% endblock %}
        {% block innerContents %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    
    {% block scripts %}
	{% endblock %}
  </body>
</html>