{% extends "base.html" %}

{% block title %}
  SAGE
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Estacionamientos
    </h3>
    <hr>
    
    <!-- TABLA CON LOS PROPIETARIOS ALMACENADOS EN LA BASE DE DATOS -->
    <div class="col-md-8">
      <table class="table table-striped">
      {% if propietarios %} 
        <thead>
          <tr>
            <th></th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cedula</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in propietarios %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{obj.nombres}}</td>
              <td>{{obj.apellidos}}</td>
              <td>{{obj.cedula}}</td>
              <td><a href="./propietario/{{obj.id}}">
                  <i class="fa fa-search"></i>
              </a></td>
            </tr>
          {% endfor %}
        </tbody>
        {% else %}
          <h3>No hay propietarios</h3>
        {% endif %}
      </table>
      <hr>
    </div>
    
    <!-- FORMULARIO PARA AGREGAR PROPIETARIOS -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="glyphicon glyphicon-wrench pull-right"></i>
            <h4>
              Agregar Propietario
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <form action="propietario" method="post" class="form form-vertical">
            {% csrf_token %}
            {% for field in formP %}
              <div class="control-group">
                <div class="controls">
                  {{ field }}
                  <span class='error' id='{{field.name}}_error' aria-live="polite">
                    {{ field.errors }}
                  </span>
                  <p>
                </div>
              </div>
            {% endfor %}
            <div class="control-group">
              <label></label>
              <div class="controls" align="center">
                <button type="submit" class="btn btn-primary">
                    {% if formP %} 
        				Agregar
        			{% else %} 
        				Expandir
        			{% endif %} 
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- TABLA CON LOS ESTACIONAMIENTOS DE LA BASE DE DATOS -->
    <div class="col-md-8">
      <table class="table table-striped">
        {% if estacionamientos %} 
        <thead>
          <tr>
            <th></th>
            <th>Dueño</th>
            <th>Nombre</th>
            <th>RIF</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in estacionamientos %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{obj.propietario}}</td>
              <td>{{obj.nombre}}</td>
              <td>{{obj.direccion}}</td>
              <td><a href="./{{obj.id}}">
                  <i class="fa fa-search"></i>
              </a></td>
              <td><a href="./{{obj.id}}/tasa">
                  <i class="fa fa-bar-chart"></i>
              </a></td>
            </tr>
          {% endfor %}
        </tbody>
        {% else %}
          <h3>No hay estacionamientos</h3>
        {% endif %}
      </table>
      <hr>
    </div>
    
    <!-- FORMULARIO PARA AGREGAR ESTACIONAMIENTOS -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="glyphicon glyphicon-wrench pull-right"></i>
            <h4>
              Crear estacionamiento
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <form action="." method="post" class="form form-vertical">
            {% csrf_token %}
            {% for field in form %}
              <div class="control-group">
                <div class="controls">
                  {{ field }}
                  <span class='error' id='{{field.name}}_error' aria-live="polite">
                    {{ field.errors }}
                  </span>
                  <p>
                </div>
              </div>
            {% endfor %}
            <div class="control-group">
              <label></label>
              <div class="controls" align="center">
                <button type="submit" class="btn btn-primary">
                    {% if form %} 
        				Crear
        			{% else %} 
        				Expandir
        			{% endif %} 
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}
{% block scripts %}
  {% include "validator.js.html" %}
{% endblock %}
