<table class="table table-striped">
  <thead></thead>
  <tbody>
    <tr><td><b><i class="fa fa-user"></i>
      Nombre:
    </b></td></tr>
    <tr><td>
      {{propietario.nombres}} {{propietario.apellidos}}
    </td></tr>
    <tr><td><b><i class="fa fa-circle"></i>
      Cédula:
    </b></td></tr>
    <tr><td>
      {{propietario.cedula}}
    </td></tr>
    
	<tr><td><b><i class="fa fa-car"></i>
        Estacionamientos:
	</b></td></tr>
    <td>
    {% if estacionamientos %}
      <ul class="nav nav-stacked">
        {% for obj in estacionamientos %}
          {% if obj.propietario.id = propietario.id %}
            <li>
              <a href="/estacionamientos/{{obj.id}}" class="text-muted">
                <i class="fa fa-search"></i>
                {{obj.nombre}}
              </a>
            </li>
          {% endif %}
        {% endfor %} 
      </ul>
      {% else %}
        <h3>No hay estacionamientos</h3>
      {% endif %}
    </td>
  </tbody>
</table>