{% load humanize %}
<script type="text/javascript">
  $(function() {
    $( "#dialogpuestos" ).dialog({
      autoOpen: false,
      resizable: false,
      width : 300
    });
 
    $( "#puestos" ).click(function() {
      $( "#dialogpuestos" ).dialog( "open" );
    });
  });
</script>

<table class="table table-striped">
  <thead></thead>
  <tbody>
    <tr><td colspan="2"><b><i class="fa fa-car"></i>
      Nombre del estacionamiento:
    </b></td></tr>
    <tr><td colspan="2">
      {{estacionamiento.nombre}}
    </td></tr>
    <tr><td><b><i class="fa fa-user"></i>
      Nombre del propietario:
      </b></td>
      <td><a href="cambiar-dueno">
          <i class="fa fa-pencil-square-o"></i></a>
      </td></tr>
    <tr><td colspan="2">
      {{estacionamiento.propietario}}
    </td></tr>
    <tr><td colspan="2"><b><i class="fa fa-home"></i>
      Dirección:
    </b></td></tr>
    <tr><td colspan="2">
      {{estacionamiento.direccion}}
    </td></tr>

    {% if estacionamiento.telefono1 %}
      <tr><td colspan="2"><b><i class="fa fa-phone"></i>
        Teléfono:
      </b></td></tr>
      <tr><td colspan="2">
        {{estacionamiento.telefono1}}
      </td></tr>
    {% endif %}

    {% if estacionamiento.telefono2 %}
      <tr><td colspan="2"><b><i class="fa fa-phone"></i>
        Teléfono:
      </b></td></tr>
      <tr><td colspan="2">
        {{estacionamiento.telefono2}}
      </td></tr>
    {% endif %}

     {% if estacionamiento.telefono3 %}
      <tr><td colspan="2"><b><i class="fa fa-phone"></i>
        Teléfono:
      </b></td></tr>
      <tr><td colspan="2">
        {{estacionamiento.telefono3}}
      </td></tr>
    {% endif %}

    {% if estacionamiento.email1 %}
      <tr><td colspan="2"><b><i class="fa fa-at"></i>
        Correo Electrónico:
      </b></td></tr>
      <tr><td colspan="2">
        {{estacionamiento.email1}}
      </td></tr>
    {% endif %}

    {% if estacionamiento.email2 %}
      <tr><td colspan="2"><b><i class="fa fa-at"></i>
        Correo Electrónico:
      </b></td></tr>
      <tr><td colspan="2">
        {{estacionamiento.email2}}
      </td></tr>
    {% endif %}
    
    <tr><td colspan="2"><b><i class="fa fa-circle"></i>
      RIF:
    </b></td></tr>
    <tr><td colspan="2">
      {{estacionamiento.rif}}
    </td></tr>
	{% if estacionamiento.capacidad %}
 		<tr><td colspan="2"><b><i class="fa fa-car"></i> Puestos particulares:</b></td></tr>
 		<tr><td>{{estacionamiento.capacidad}}</td></tr>
 	{% endif %}
  	{% if estacionamiento.capacidad_C %}
  		<tr><td colspan="2"><b><i class="fa fa-truck"></i> Puestos para camiones:</b></td></tr>
  		<tr><td>{{estacionamiento.capacidad_C}}</td></tr>
  	{% endif %}
 	{% if estacionamiento.capacidad_M %}
  		<tr><td colspan="2"><b><i class="fa fa-motorcycle"></i> Puestos para motos:</b></td></tr>
  		<tr><td>{{estacionamiento.capacidad_M}}</td></tr>
  	{% endif %}
  	{% if estacionamiento.capacidad_D %}
  		<tr><td colspan="2"><b><i class="fa fa-wheelchair"></i> Puestos para discapacitados:</b></td></tr>
  		<tr><td>{{estacionamiento.capacidad_D}}</td></tr>
 	{% endif %}
  </tbody>
</table>

<div id="dialogpuestos" title="Gestionar puestos" style="display: none">
  {% if errorDialog %}
    <p style="color:red" align ="center">
	    {{errorDialog}}
    </p>
  {% endif %}	
  <form action="." method="POST" class="form form-vertical">
  {% csrf_token %} 
  <div class="control-group" align ="center">
      <div class="controls">
      <table width="250" border="0" cellspacing="0">
          <tr><td><font size="10" color="gray"><i class="fa fa-car"> </i></font></td>
          	<td>{{ formPuestos.particulares }}
            <span class='error' id='{{formPuestos.particulares.name}}_error' aria-live="polite">
              {{ formPuestos.particulares.errors }}
            </span></td>
          </tr>
          <tr><td><font size="10" color="gray"><i class="fa fa-truck"> </i></font></td>
          	<td>{{ formPuestos.camiones }}
            <span class='error' id='{{formPuestos.camiones.name}}_error' aria-live="polite">
              {{ formPuestos.camiones.errors }}
            </span></td>
          </tr>
          <tr><td><font size="10" color="black"><i class="fa fa-motorcycle"> </i></font></td>
          	<td>{{ formPuestos.motos }}
            <span class='error' id='{{formPuestos.motos.name}}_error' aria-live="polite">
              {{ formPuestos.motos.errors }}
            </span></td>
          </tr>
          <tr><td><font size="10" color="blue"><i class="fa fa-wheelchair"> </i></font></td>
          	<td>{{ formPuestos.discapacitados }}
            <span class='error' id='{{formPuestos.discapacitados.name}}_error' aria-live="polite">
              {{ formPuestos.discapacitados.errors }}
            </span></td>
          </tr>
      </table>
      </div>
  </div>
  <div class="controls" align ="center">
      <button type="submit" class="btn btn-primary" name="botonPuestos">
        Aceptar
      </button>
    </div>	
  </form>  
</div>
{% if mostrarBoton %}
    <div class="controls" align ="center">
    	<p><button id="puestos">Gestionar puestos</button></p>
    </div></p>
{% endif %}	

{% if errorDialog %}
    <script>
	  $(function() {
	      $( "#dialogpuestos" ).dialog( "open" );
	  });
    </script>
{% endif %}	

{% include "validator.js.html" with form=formPuestos %}
{% block scripts %}
	<script type="text/javascript">
	    function popup(mylink, windowname) {
	      if (! window.focus)
	        return true;
	      var href;
	      if (typeof(mylink) == 'string')
	        href=mylink;
	      else
	        href=mylink.href;
	      window.open(href, windowname, 'width=600,height=400,scrollbars=yes');
	      return false;
	    }
	</script>
	<script>
	function imprimirHorizonte(value) {
	    dias=parseInt(value/24)
	    horas=value%24
	    if (value == 0) {
	   	 $( "#horizonteParam" ).val("No se admiten reservas");
	   	}
	   	else if (horas == 0) {
	   	 if (dias==1) $( "#horizonteParam" ).val( dias + " dia" );
	   	 else $( "#horizonteParam" ).val( dias + " dias" );
	   	}
	   	else if (value > 24) {
	   	 if (dias==1) {
	   	 	if (horas==1) $( "#horizonteParam" ).val( dias + " dia y " + horas + " hora" );
	   	 	else $( "#horizonteParam" ).val( dias + " dia y " + horas + " horas" );
	   	 }
	   	 else {
	   	 	if (horas==1) $( "#horizonteParam" ).val( dias + " dias y " + horas + " hora" );
	   	 	else $( "#horizonteParam" ).val( dias + " dias y " + horas + " horas" );
	   	 }
	   	}
	   	else {
	   	 if (horas==1) $( "#horizonteParam" ).val( horas + " hora" );
	   	 else $( "#horizonteParam" ).val( horas + " horas" );
	   	}
	};
	</script>
{% endblock %}