<table class="table table-striped">
  <thead></thead>
  <tbody>
    <tr><td><b><i class="fa fa-user"></i>
      Nombre y Apellido:
    </b></td></tr>
    <tr><td>
      {{billetera.nombre}} {{billetera.apellido}}
    </td></tr>
    <tr><td><b><i class="fa fa-circle"></i>
      Cédula de Indentidad:
    </b></td></tr>
    <tr><td>
      {{billetera.cedula}}
    </td></tr>
    <tr><td><b><i class="fa fa-credit-card"></i>
      Número de Billetera Electónica:
    </b></td></tr>
    <tr><td>
      {{billetera.identificador}}
    </td></tr>
    <tr><td><b><i class="fa fa-key"></i>
      PIN:
    </b></td></tr>
    <tr><td>
      {{billetera.PIN}}
    </td></tr>
  </tbody>
</table>