<!--{% load humanize %}-->
<table class="table table-striped">
  <thead></thead>
  <tbody>
    <tr><td colspan="3"><b><i class="fa fa-user"></i>
      Nombre:
    </b></td></tr>
    <tr><td colspan="3">
      {{propietario.nombres}} {{propietario.apellidos}}
    </td></tr>
    <tr><td colspan="3"><b><i class="fa fa-circle"></i>
      Cédula:
    </b></td></tr>
    <tr><td colspan="3">
      {{propietario.cedula}}
    </td></tr>
    <tr><td colspan="3"><b><i class="fa fa-phone"></i>
      Teléfono:
    </b></td></tr>
    <tr><td colspan="3">
      {{propietario.telefono1}}
    </td></tr>
	  <tr><td colspan="3"><b><i class="fa fa-car"></i>
        Estacionamientos:
	  </b></td></tr>
    {% if estacionamientos %}
      <ul class="nav nav-stacked">
        {% for obj in estacionamientos %}
          {% if obj.propietario.id = propietario.id %}
            <tr>
              <td>{{obj.nombre}}</td>
              <td>{{obj.rif}}</td>
              <td><a href="/estacionamientos/{{obj.id}}">
                <i class="fa fa-search"></i></a>
              </td>
            </tr>
          {% endif %}
        {% endfor %} 
      </ul>
    {% else %}
      <tr><td colspan="3" align="center">No hay estacionamientos</td></tr>
    {% endif %}
  </tbody>
</table>