{% extends "base.html" %}
{% load humanize %}

{% block title %}
  SAGE - Pago
{% endblock %}
   
{% block scripts %}
<script>
		$('document').ready(function() {
		
			$('#id_PIN').css("display", "none");
			
			$('#id_ID').css("display", "none");
			
			$('#id_tarjeta').css("display", "none");
				
			$('input#id_tarjetaTipo_3').click(function() {
				$('#id_PIN').css("display", "block");
				$('#id_PIN').prop('required',true);
				$('#id_ID').css("display", "block");
				$('#id_ID').prop('required',true);
				$('#id_tarjeta').css("display", "none");
				$('#id_tarjeta').prop('required',false);
			});
									
			$('input#id_tarjetaTipo_2').click(function() {
				$('#id_PIN').css("display", "none");
				$('#id_PIN').prop('required',false);
				$('#id_ID').css("display", "none");
				$('#id_ID').prop('required',false);
				$('#id_tarjeta').css("display", "block");
				$('#id_tarjeta').prop('required',true);
			});
		
			$('input#id_tarjetaTipo_1').click(function() {
				$('#id_PIN').css("display", "none");
				$('#id_PIN').prop('required',false);
				$('#id_ID').css("display", "none");
				$('#id_ID').prop('required',false);
				$('#id_tarjeta').css("display", "block");
				$('#id_tarjeta').prop('required',true);
			});
			
			$('input#id_tarjetaTipo_0').click(function() {
				$('#id_PIN').css("display", "none");
				$('#id_PIN').prop('required',false);
				$('#id_ID').css("display", "none");
				$('#id_ID').prop('required',false);
				$('#id_tarjeta').css("display", "block");
				$('#id_tarjeta').prop('required',true);
			});
		});
</script>

{% include "validator.js.html" %}
  <script type="text/javascript">
    function popuponclick(){
      my_window = window.open("",
       "mywindow","status=1,width=350,height=150");

      my_window.document.write('<h1>The Popup Window</h1>');
    }

    function closepopup(){
      window.close();
    }

    function openlink(){
      opener.location='/estacionamientos/{{ id }}/reserva';
    }
    
    function openlink2(){
      opener.location='/estacionamientos/consulta_reserva';
    }
    
  </script> 
 
{% endblock %}

{% block body%}
  <body 
  	{% if mensaje and not id_pago_anterior %} onunload="openlink()" {% endif %}
  	{% if mensaje and id_pago_anterior %} onunload="openlink2()" {% endif %}
  >
{% endblock %}

{% block menu %}{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-money"></i>
      Pago de Reserva
    </h3>
    <hr>
    <div class="col-md-4">
      {% if form %}
        <form
          method="post"
          class="form form-vertical"
        >
          {% csrf_token %}
          <div class="control-group">
            <div class="controls">
              <p>
                {{ form.nombre }}
                <span
                  class='error'
                  id='{{form.nombre.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.nombre.errors }}
              <p>
                {{ form.apellido }}
                <span
                  class='error'
                  id='{{form.apellido.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.apellido.errors }}
              <p>
                <table><tbody><tr>
                  <td>
                    {{ form.cedulaTipo }}
                  </td>
                  <td>
                    {{ form.cedula }}
                  </td>
                </tr></tbody></table>
                <span
                  class='error'
                  id='{{form.cedula.name}}_error'
                  aria-live="polite"
                ></span>
                {{ form.cedula.errors }}
              </p>
                <table width="400" border="0" cellspacing="0">
                <tr> 
                  <td><font size="32" color="blue"><i class="fa fa-cc-visa"> </i></font></td>
                  <td><font size="32" color="red"><i class="fa fa-cc-mastercard"> </i></font></td>
                  <td><font size="32" color="gray"><i class="fa fa-cc-amex"> </i></font></td>
                  <td><font size="32" color="black"><i class="fa fa-credit-card"> </i></font></td>
                </tr>
                <tr>
                  {% for choice in form.tarjetaTipo %}
                    <td> {{ choice }} </td>
                  {% endfor %}
                </tr>
              </table>
              {{ form.tarjetaTipo.errors }}
              <p>
                {{ form.tarjeta }}
                <span
                  class='error'
                  id='{{form.tarjeta.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.tarjeta.errors }}
              <p>
                {{ form.ID }}
                <span
                  class='error'
                  id='{{form.ID.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.ID.errors }}
              <p>
                {{ form.PIN }}
                <span
                  class='error'
                  id='{{form.PIN.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.PIN.errors }}
            </div>
          </div>
          <input
            type="submit"
            value="Realizar Pago"
            class="btn btn-primary"
          >
          <input
            type="button"
            value="Volver"
            onclick="self.close()"
            class="btn btn-primary"
          >
        </form>
      {% endif %}
      {% if pago %}
        <div class="row">
          <div class="col-md-7" style="color:{{color}}">
            {{mensaje}}
            <hr>
          </div>
          {% if mensaje2 %}
          	<div class="col-md-7" style="color:{{color2}}">
              {{mensaje2}}
              <hr>
            </div>
          {% endif %}
          <div class="col-md-4">
            <table class="table table-striped">
              <tbody>
                <tr><td><b><i class="fa fa-circle"></i>
                  Número de Transacción:
                </b></td></tr>
                <tr><td>
                  {{pago.id}}
                </td></tr>
                
                {% if id_pago_anterior %}
                 <tr><td><b><i class="fa fa-circle"></i>
                  Número de Transacción Movida:
                </b></td></tr>
                <tr><td>
                  {{ id_pago_anterior }}
                </td></tr>
                {% endif %}

                <tr><td><b><i class="fa fa-clock-o"></i>
                  Fecha de Transacción:
                </b></td></tr>
                <tr><td>
                  {{pago.fechaTransaccion}}
                </td></tr>
				
                <tr><td><b><i class="fa fa-clock-o"></i>
                  Horario inicio de reserva:
                </b></td></tr>
                <tr><td>
                  {{pago.reserva.inicioReserva}}
                </td></tr>

                <tr><td><b><i class="fa fa-clock-o"></i>
                  Horario fin de reserva:
                </b></td></tr>
                <tr><td>
                  {{pago.reserva.finalReserva}}
                </td></tr>

                <tr><td><b><i class="fa fa-car"></i>
                  Tipo de vehículo:
                </b></td></tr>
                <tr><td>
                  {{pago.reserva.vehiculoTipo}}
                </td></tr>
                 
                <tr><td><b><i class="fa fa-user"></i>
                  Cédula:
                </b></td></tr>
                <tr><td>
                  {{pago.cedulaTipo}}-{{pago.cedula}}
                </td></tr>

                <tr><td><b><i class="fa fa-credit-card"></i>
                  Tipo de Tarjeta:
                </b></td></tr>
                <tr><td>
                  {{pago.tarjetaTipo}} </td></tr>
				
				{% if not id_pago_anterior %}
                  <tr><td><b><i class="fa fa-money"></i>
                    Monto:
                  </b></td></tr>
                  <tr><td>
                    BsF. {{pago.monto|floatformat:2|intcomma }}
                  </td></tr>
                {% endif %}
                
                {% if id_pago_anterior %}
                  <tr><td><b><i class="fa fa-money"></i>
                    Monto de la reserva:
                  </b></td></tr>
                  <tr><td>
                    BsF. {{pago.monto|floatformat:2|intcomma }}
                  </td></tr>  
                 
                  <tr><td><b><i class="fa fa-money"></i>
                    Cargo por operaciones especiales:
                  </b></td></tr>
                  <tr><td>
                    BsF. {{monto_debitar|floatformat:2|intcomma }}
                  </td></tr>
                
                  {% if not id_billetera %}
                    <tr><td><b><i class="fa fa-money"></i>
                      Monto total operacion:
                    </b></td></tr>
                    <tr><td>
                      BsF. {{monto_total|floatformat:2|intcomma }}
                    </td></tr>
                  {% endif %}
                
                  {% if id_billetera%} 
                    <tr><td><b><i class="fa fa-circle"></i>
                      ID de Billetera Recargada:
                    </b></td></tr>
                    <tr><td>
                      {{id_billetera}}
                    </td></tr>
                
                    <tr><td><b><i class="fa fa-money"></i>
                      Monto recargado:
                    </b></td></tr>
                    <tr><td>
                      {{monto}}
                    </td></tr>
                
                  {% endif %}
                {% endif %}
                
              </tbody>
            </table>
            <div>
              <input
                type="button"
                value="Volver"
                onclick="javascript: closepopup();"
                class="btn btn-primary"
              >
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}


