{% load staticfiles %}
{% load humanize %}
<table class="table table-striped">
  <thead></thead>
  <tbody>
    {% if estacionamiento.tarifa %}
      <tr><td><b><i class="fa fa-clock-o"></i> Horario del estacionamiento:</b></td></tr>
      <tr><td>{{estacionamiento.apertura}} - {{estacionamiento.cierre}}</td></tr>
      <tr><td><b><i class="fa fa-circle"></i> Esquema:</b></td></tr>
      <tr><td>{{estacionamiento.tarifa.tipo}} </td></tr>

    <!--###############-->
    <!--ESQUEMA REGULAR-->
    <!--###############-->

    <!--TARIFAS REGULARES-->
    <tr><td><b>&nbsp Tarifa Regular</b></td></tr>
    <tr><td>
      <ul class="lista_tarifas">
      <!--PARTICULARES-->
      {% if estacionamiento.capacidad > 0 %}
        <li><b><i class="fa fa-car"></i></b>
          BsF. {{estacionamiento.tarifa.tarifa|floatformat:2|intcomma}}</li>
      {% endif %}
      <!--MOTOS-->
      {% if estacionamiento.capacidad_M > 0 %}
        <li><b><i class="fa fa-motorcycle"></i></b>
          BsF. {{estacionamiento.tarifa.tarifa_M|floatformat:2|intcomma}}</li>
      {% endif %}
      <!--CAMIONES-->
      {% if estacionamiento.capacidad_C > 0 %}
        <li><b><i class="fa fa-truck"></i></b>
          BsF. {{estacionamiento.tarifa.tarifa_C|floatformat:2|intcomma}}</li>
      {% endif %}
      <!--DISCAPACITADOS-->
      {% if estacionamiento.capacidad_D > 0 %}
        <li><b><i class="fa fa-wheelchair"></i></b>
          BsF. {{estacionamiento.tarifa.tarifa_D|floatformat:2|intcomma}}</li>
      {% endif %}
      </ul>
    </td></tr>
    {% endif %}
    <!--HORARIO ESPECIAL-->
    {% if estacionamiento.tarifa.tipo == "Tarifa diferenciada por hora pico" %}
      <tr><td><b>&nbsp <i class="fa fa-clock-o"></i> Horario tarifa especial:</b></td></tr>
      <tr><td>&nbsp{{estacionamiento.tarifa.inicioEspecial}} - {{estacionamiento.tarifa.finEspecial}}</td></tr>
    {% endif %}

    {% if estacionamiento.tarifa.tipo == "Tarifa diferenciada para fines de semana" or estacionamiento.tarifa.tipo == "Tarifa diferenciada por hora pico" %}
      <!--TARIFAS ESPECIALES-->
      <tr><td><b>&nbsp Tarifa Especial:</b></td></tr>
        <!--PARTICULARES-->
      <tr><td>
        <ul class="lista_tarifas">
        {% if estacionamiento.capacidad > 0 %}
          <li><b><i class="fa fa-car"></i></b>
            BsF. {{estacionamiento.tarifa.tarifa2|floatformat:2|intcomma}}</li>
        {% endif %}
        <!--MOTOS-->
        {% if estacionamiento.capacidad_M > 0 %}
          <li><b><i class="fa fa-motorcycle"></i></b>
            BsF. {{estacionamiento.tarifa.tarifa2_M|floatformat:2|intcomma}}</li>
        {% endif %}
        <!--CAMIONES-->
        {% if estacionamiento.capacidad_C > 0 %}
          <li><b><i class="fa fa-truck"></i></b>
            BsF. {{estacionamiento.tarifa.tarifa2_C|floatformat:2|intcomma}}</li>
        {% endif %}
        <!--DISCAPACITADOS-->
        {% if estacionamiento.capacidad_D > 0 %}
          <li><b><i class="fa fa-wheelchair"></i></b>
            BsF. {{estacionamiento.tarifa.tarifa2_D|floatformat:2|intcomma}}</li>
        {% endif %}
        </ul>
      </td></tr>
    {% endif %}

    <!--##########################-->
    <!--ESQUEMA PARA DIAS FERIADOS-->
    <!--##########################-->
    {% if estacionamiento.tarifaFeriados %}
	    <tr><td><b><i class="fa fa-circle"></i> Esquema Feriados:</b></td></tr>
	    <tr><td>{{estacionamiento.tarifaFeriados.tipo}} </td></tr>
  	    <!--TARIFAS REGULARES-->
      <tr><td><b>&nbsp Tarifa regular:</b></td></tr>
      <tr><td>
        <ul class="lista_tarifas">
        <!--PARTICULARES-->
        {% if estacionamiento.capacidad > 0 %}
          <li><b><i class="fa fa-car"></i></b>
            BsF. {{estacionamiento.tarifaFeriados.tarifa|floatformat:2|intcomma}}</li>
        {% endif %}
        <!--MOTOS-->
        {% if estacionamiento.capacidad_M > 0 %}
          <li><b><i class="fa fa-motorcycle"></i></b>
            BsF. {{estacionamiento.tarifaFeriados.tarifa_M|floatformat:2|intcomma}}</li>
        {% endif %}
        <!--CAMIONES-->
        {% if estacionamiento.capacidad_C > 0 %}
          <li><b><i class="fa fa-truck"></i></b>
            BsF. {{estacionamiento.tarifaFeriados.tarifa_C|floatformat:2|intcomma}}</li>
        {% endif %}
        <!--DISCAPACITADOS-->
        {% if estacionamiento.capacidad_D > 0 %}
          <li><b><i class="fa fa-wheelchair"></i></b>
            BsF. {{estacionamiento.tarifaFeriados.tarifa_D|floatformat:2|intcomma}}</li>
        {% endif %}
        </ul>
      </td></tr>
      <!--HORARIO ESPECIAL-->
      {% if estacionamiento.tarifaFeriados.tipo == "Tarifa diferenciada por hora pico" %}
        <tr><td><b>&nbsp <i class="fa fa-clock-o"></i> Horario tarifa especial:</b></td></tr>
        <tr><td>&nbsp {{estacionamiento.tarifaFeriados.inicioEspecial}} - {{estacionamiento.tarifaFeriados.finEspecial}}</td></tr>
      {% endif %}

      {% if estacionamiento.tarifaFeriados.tipo == "Tarifa diferenciada para fines de semana" or estacionamiento.tarifaFeriados.tipo == "Tarifa diferenciada por hora pico" %}
        <!--TARIFAS ESPECIALES-->
        <tr><td><b>&nbsp Tarifa Especial:</b></td></tr>
          <!--PARTICULARES-->
        <tr><td>
          <ul class="lista_tarifas">
          {% if estacionamiento.capacidad > 0 %}
            <li><b><i class="fa fa-car"></i></b>
              BsF. {{estacionamiento.tarifaFeriados.tarifa2|floatformat:2|intcomma}}</li>
          {% endif %}
          <!--MOTOS-->
          {% if estacionamiento.capacidad_M > 0 %}
            <li><b><i class="fa fa-motorcycle"></i></b>
              BsF. {{estacionamiento.tarifaFeriados.tarifa2_M|floatformat:2|intcomma}}</li>
          {% endif %}
          <!--CAMIONES-->
          {% if estacionamiento.capacidad_C > 0 %}
            <li><b><i class="fa fa-truck"></i></b>
              BsF. {{estacionamiento.tarifaFeriados.tarifa2_C|floatformat:2|intcomma}}</li>
          {% endif %}
          <!--DISCAPACITADOS-->
          {% if estacionamiento.capacidad_D > 0 %}
            <li><b><i class="fa fa-wheelchair"></i></b>
              BsF. {{estacionamiento.tarifaFeriados.tarifa2_D|floatformat:2|intcomma}}</li>
          {% endif %}
          </ul>
        </td></tr>
      {% endif %}     

      <tr><td id="opener"><b id="feriados">
        <i class="fa fa-calendar"></i> Dias Feriados</b>
        <span id="dialog" title="Feriados"></span>
      </td></tr>
    {% endif %}
  </tbody>
</table>
<!--Muestra el multidatespicker con los dias feriados marcados-->
{% block scripts %}
  <script type="text/javascript">
  var feria= "{{ estacionamiento.feriados }}";
  $(function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
      resizable: false,
      width : 895,
      position : {at: "center top"},
      open: function(){
      		var y = new Date().getFullYear();
		    var dates=feria.split(",");
				$('#dialog').multiDatesPicker({
					monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
					dayNamesMin: ['D','L','M','X','J','V','S'],
					dateFormat: "yy-mm-dd", 
					defaultDate: y+'-1-1',
					numberOfMonths: [3,4],
					disabled: true,
					addDates: dates
				});
	  },
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "blind",
        duration: 1000
      }
    });
 
    $( "#opener" ).click(function() {
      $( "#dialog" ).dialog( "open" );
    });
  });
  </script>
{% endblock %}
