{% load staticfiles %}
<meta charset="utf-8">  
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="glyphicon glyphicon-wrench pull-right"></i>
      <h4>
        Parametrizar
      </h4>
    </div>
  </div>

  <div class="panel-body">
    
    <p>
    <!-- OPCION AGREGAR PROPIETARIOS -->  
    <a href="parametrizar" class="boton" >
      <div class="controls" align ="center">
        <button type="button" >Parametrizar</button>
      </div>
    </a>
  </div>
</div>

{% include "validator.js.html" %}