{% load staticfiles %}
<meta charset="utf-8">  
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="glyphicon glyphicon-wrench pull-right"></i>
      <h4>
        Parametrizar
      </h4>
    </div>
  </div>
  <div class="panel-body" align ="center">
    {% if form.non_field_errors %}
      <p style="color:red" align ="center">
        {{form.non_field_errors}}
      </p>
    {% endif %} 
    {% if estacionamiento.capacidad or estacionamiento.capacidad_M or estacionamiento.capacidad_C or estacionamiento.capacidad_D%}
	      {% if estacionamiento.tarifa %}
	      <!-- Introducir tarifas -->  
	      <a href="tarifas_especiales" class="boton" id="gestionar">
	        <div class="controls" align ="center">
	          <button type="button" >Gestionar Tarifas</button>
	        </div>
	      </a>
    	  {% endif %}
    {% endif %}
    <br>
    <form action="." method="post" class="form form-vertical">
      {% csrf_token %}     
      {% for field in form %}
        <div class="control-group">
          <div class="controls">
            {% if field.name == 'aceptaFeriados' %}
              <p align="center" style="border:0; color:#0033AF; font-weight:bold;">Esquema para días feriados</p>
            {% endif %}
            {{ field }}
            <span class='error' id='{{field.name}}_error' aria-live="polite">
              {{ field.errors }}
            </span>
            <p>
          </div>
        </div>
      {% endfor %}
      <!-- Calendario -->
      <div id="calendar_feriados" style="display: none" >
        <i class="fa fa-calendar" id="calendar" onclick="calendar()"></i> &nbsp;
        <span role="text" id="multi_date_picker"></span>
      </div>
      <br>
      <div class="control-group" align ="center">
        <div class="controls" align ="center">
          <button type="submit" class="btn btn-primary" onclick="getDates()" name="botonSubmit">
            Parametrizar Estacionamiento
          </button>
        </div>
      </div>
    </form>
    <p></p>
  </div>
</div>

{% include "validator.js.html" %}
{% block scripts %}
<script type="text/javascript">
  esquema       = document.getElementById('id_esquema');
  inicio        = document.getElementById('id_inicioTarifa2');
  fin           = document.getElementById('id_finTarifa2');
  aceptaFeriados = document.getElementById('id_aceptaFeriados');

  //Feriados
  feriados        = document.getElementById('id_feriados');  
  esquemaFeriados = document.getElementById('id_esquemaFeriados');
  inicioTarifaFeriados  = document.getElementById('id_inicioTarifaFeriados');
  finTarifaFeriados     = document.getElementById('id_finTarifaFeriados');
  
  // Para el horizonte de reservacion
  horizonte        = document.getElementById('id_horizonte');
    
  inicioTarifaFeriados.style.display = 'none';
  finTarifaFeriados.style.display = 'none';
  esquemaFeriados.style.display = 'none';
  verificarFeriados();
  verificarTarifaFeriados();
  verificarTarifa();
  if (esquema) {
    esquema.onchange=function() {
      verificarTarifa();
    }
  }
  if (esquemaFeriados) {
    esquemaFeriados.onchange=function() {
      verificarTarifaFeriados();
    }
  }
  aceptaFeriados.onchange=function() {
    verificarFeriados()
  }
//Verifica si fue selecionada la opcion de tarifas para feriados
  function verificarFeriados() {  
    if(aceptaFeriados.checked){
      document.getElementById('calendar_feriados').style.display = 'block';
      esquemaFeriados.style.display = '';
    }else{
      document.getElementById('calendar_feriados').style.display = 'none';
      esquemaFeriados.style.display      = 'none';
      esquemaFeriados.value          	 = 'TarifaHora';
      inicioTarifaFeriados.style.display   = 'none';
      finTarifaFeriados.style.display      = 'none';
    }
  }
// Funciones para verificar los esquemas tarifarios (para no repetir codigo)
function verificarTarifa() {
  if (esquema.value == "TarifaHoraPico") {
        inicio.style.display='';
        inicio.placeholder = "Inicio horario pico";
        fin.style.display='';
        fin.placeholder = "Fin horario pico";
    } else {
        inicio.style.display='none';
        inicio.value = "";
        fin.style.display='none';
        fin.value = "";
    }
};
function verificarTarifaFeriados() {
  if (esquemaFeriados.value == "TarifaHoraPico") {
      inicioTarifaFeriados.style.display='';
      inicioTarifaFeriados.placeholder = "Inicio horario pico";
      finTarifaFeriados.style.display='';
      finTarifaFeriados.placeholder = "Fin horario pico";
  } else {
      inicioTarifaFeriados.style.display='none';
      inicioTarifaFeriados.value = "";
      finTarifaFeriados.style.display='none';
      finTarifaFeriados.value = "";
  }
};
</script>

<!--OPCION PARA AGREGAR UNA TARIFA PARA DIAS FERIADOS-->
  <script type="text/javascript">
    var show=false;
    var dates=feriados.value.split(",");
    function calendar() {
      show=!show;
      if (show){
           dates=feriados.value.split(",");
        $('#multi_date_picker').show();
        if (dates.length>1) {
          $('#multi_date_picker').multiDatesPicker({
            monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
            dayNamesMin: ['D','L','M','X','J','V','S'],
            dateFormat: "yy-mm-dd", 
            addDates: dates
          });
        } else $('#multi_date_picker').multiDatesPicker({
            dateFormat: "yy-mm-dd"
          });
      } else {
        $('#multi_date_picker').hide();
      }
    };
    function getDates() {
        val=$('#multi_date_picker').multiDatesPicker('getDates');
        if (val!='') feriados.value = val;
    };
  </script>
{% endblock %}