<div class="control-group" >
 <div class="controls" align="center">
 <b>Tipo de gráfica:</b><br>
 <tr> 
    <td><i class="fa fa-rocket"></i><input type="radio" name="tipografica" value="todos" checked="checked"/>&nbsp &nbsp </td>
    {% for choice in puestos %} 
   <td><i class="fa fa-{{ choice }}"></i><input type="radio" name="tipografica" value="{{ choice }}"/>&nbsp &nbsp </td>
     {% endfor %}
 </tr>
 </div>
</div>
<table class="table table-striped">
  <thead>
	<tr>
	  <td>
	    <b>Fecha</b>
	  </td>
	  <td>
	    <b>Porcentaje</b>
	  </td>
	</tr>
  </thead>
  <tbody>
    {% for key, value in ocupacion.items %} 
      <tr>
	    <td>
  	      {{ key }}
        </td>
        <td>
  	      {{ value }}%
        </td>
      </tr>
  {% endfor %}
  </tbody>
</table>
