{% extends "base.html" %}

{% block title %}
  SAGE - Estacionamiento {{estacionamiento.nombre}}
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Estacionamiento {{estacionamiento.nombre}}
    </h3>
    <hr>	
    <p>
    <div class="col-md-4">
		<label for="amount">Esquema tarifario:</label>
		<p style="border:0; color:#0033AF; font-weight:bold;">{{ estacionamiento.tarifa.tipo }}</p>
	    <hr>
		<label for="amount">Esquema tarifario para dias feriados:</label>
		<p style="border:0; color:#0033AF; font-weight:bold;">{{ estacionamiento.tarifaFeriados.tipo }}</p>
	    <hr>
    </div>
    <div class="col-md-8">
      <table width="80%">
	      <thead>
	      	<tr><b><i class="fa fa-truck"></i> Tarifas especiales para camiones:</b></tr>
	      </thead>
	      <tbody>
	      	<tr>
	      		<td>
	      		  {% for field in formCamiones %}
			        <div class="control-group">
			          <div class="controls">
			            {{ field }}
			            <span class='error' id='{{field.name}}_error' aria-live="polite">
			              {{ field.errors }}
			            </span>
			            <p>
			          </div>
			        </div>
			      {% endfor %}
      			</td>
	      		<td>
	      		  {% for field in formFeriadosCamiones %}
			        <div class="control-group">
			          <div class="controls">
			            {{ field }}
			            <span class='error' id='{{field.name}}_error' aria-live="polite">
			              {{ field.errors }}
			            </span>
			            <p>
			          </div>
			        </div>
			      {% endfor %}
      			</td>
	      	</tr
	      </tbody>
      </table>
      <hr>
      <table width="80%">
	      <thead>
	      	<tr><b><i class="fa fa-motorcycle"></i> Tarifas especiales para motos:</b></tr>
	      </thead>
	      <tbody>
	      	<tr>
	      		<td>
	      		  {% for field in formMotos %}
			        <div class="control-group">
			          <div class="controls">
			            {{ field }}
			            <span class='error' id='{{field.name}}_error' aria-live="polite">
			              {{ field.errors }}
			            </span>
			            <p>
			          </div>
			        </div>
			      {% endfor %}
      			</td>
	      		<td>
	      		  {% for field in formFeriadosMotos %}
			        <div class="control-group">
			          <div class="controls">
			            {{ field }}
			            <span class='error' id='{{field.name}}_error' aria-live="polite">
			              {{ field.errors }}
			            </span>
			            <p>
			          </div>
			        </div>
			      {% endfor %}
      			</td>
	      	</tr
	      </tbody>
      </table>
      <hr>
      <table width="80%">
	      <thead>
	      	<tr><b><i class="fa fa-wheelchair"></i> Tarifas especiales para discapacitados:</b></tr>
	      </thead>
	      <tbody>
	      	<tr>
	      		<td>
	      		  {% for field in formDisc %}
			        <div class="control-group">
			          <div class="controls">
			            {{ field }}
			            <span class='error' id='{{field.name}}_error' aria-live="polite">
			              {{ field.errors }}
			            </span>
			            <p>
			          </div>
			        </div>
			      {% endfor %}
      			</td>
	      		<td>
	      		  {% for field in formFeriadosDisc %}
			        <div class="control-group">
			          <div class="controls">
			            {{ field }}
			            <span class='error' id='{{field.name}}_error' aria-live="polite">
			              {{ field.errors }}
			            </span>
			            <p>
			          </div>
			        </div>
			      {% endfor %}
      			</td>
	      	</tr
	      </tbody>
      </table>
	  <hr>
	  <div class="controls" align ="center">
		<button type="submit" class="btn btn-primary">
	    Cambiar tarifas especiales
	 	</button>
	  </div>
    </div>
  </div>
{% endblock %}

