{% extends "base.html" %}

{% block title %}
  SAGE - Mensaje
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
        SAGE
    </h3>
    <hr>
    <div style="color:{{color}}">
        {{mensaje}}
        <hr>
    </div>
    <form  method="get" class="form form-vertical">
        <div class="control-group" align="center">
	        <button type="submit" class="btn btn-primary">
	            Volver
	        </button>
        </div>
    </form>
  </div>
{% endblock %}
