{% extends "base.html" %}

{% block title %}
  SAGE - Estacionamiento {{estacionamiento.nombre}}
{% endblock %}
{% block innerContents%}
  <meta charset="utf-8">  
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Estacionamiento {{estacionamiento.nombre}}
    </h3>
    <hr>  
    <p>
    <label for="amount">Horizonte de reservacion:</label>
     <input type="text" id="horizonteParam" readonly style="border:0; color:#0033AF; font-weight:bold;">
  </p>
  <div id="slider"></div>
    <hr>
    <div class="col-md-4">
      {% include "datos.html" with mostrarBoton=True %}
    </div>
    <div class="col-md-4">
      {% include "parametros.html" %}
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="glyphicon glyphicon-wrench pull-right"></i>
            <h4>
              Tarifas para camiones
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <form action="." method="post" class="form form-vertical">
            {% csrf_token %}     
            {% for field in form %}
              <div class="control-group">
                <div class="controls">
                  {{ field }}
                  <span class='error' id='{{field.name}}_error' aria-live="polite">
                    {{ field.errors }}
                  </span>
                  <p>
                </div>
              </div>
            {% endfor %}
            <div class="control-group" align ="center">
              <div class="controls" align ="center">
                <button type="submit" class="btn btn-primary" onclick="getDates()" name="botonSubmit">
                  Guardar
                </button>
              </div>
            </div>
            <p>Al guardarse deberia aparecer un boton siguiente</p>
          </form>
          <p>
        </div>
      </div>

      {% include "validator.js.html" %}

    </div>
  </div>
<script>
  $(function() {
  $( "#slider" ).slider({
      value:"{{ estacionamiento.horizonte }}",
      animate: "slow",
      min: 0,
      max: 360,
      step: 1,
      slide: function( event, ui ) {
      imprimirHorizonte(ui.value);
      horizonte.value=ui.value;
      }
    });
    value=$("#slider").slider("value" );
    // imprimirHorizonte esta en datos.html
    imprimirHorizonte(value);
    horizonte.value=$( "#slider" ).slider("value");
  });
</script>

{% endblock %}





